.burger-menu-toggle {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
  
    input {
      display: none;
    }
  
    span {
      display: block;
      width: 30px;
      height: 3px;
      margin-bottom: 5px;
      background-color: #333;
      transition: transform 0.3s ease-in-out;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
      position: fixed;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      overflow: hidden;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    ul li {
      padding: 20px;
    }
  
    
  
    input:checked ~ ul {
      transform: translateX(0%);
  
      & ~ span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
  
      & ~ span:nth-child(2) {
        opacity: 0;
      }
  
      & ~ span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  .burgerLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text-color);
    text-transform: uppercase;
    text-decoration: none;

    &:first-of-type {
      margin-right: 30px;
    }
  }