.currentAccountPageWrapper {
  padding: 66px 0 78px 0;
  background-color: var(--businness-background);
  background-image: url("/assets/images/business_currentAccPage_heroBlock.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 74px) calc(100% - 50px);

  .currentAccountPageList {
    padding-left: 312px;



    .currentAccountHeroItem {
      width: 500px;
    }

    .currentAccountTitle {
      font-size: 30px;
      margin-bottom: 35px;
    }
  }

  .currentAccountPageDescription {
    font-weight: 400;
    font-size: 18px;
    color: #000000;

    li {
      list-style-type: none;
      padding-left: 26px;
      background: url(/assets/images/check2.svg) no-repeat left center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 30px;
    }

    .CheckText {
      font-weight: 300;
      font-size: 16px;
    }
  }
}







.infoSection {
  padding: 54px 0 80px 0;

  .infoWrapper {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

    .infoHeader {
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      margin-bottom: 80px;
    }

    .infoList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 46px;
    }
    .infoItem {
      width: 300px;
    }

    .infoTitle {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 34px;
    }

    .infoDescription {
      font-size: 17px;
      font-weight: 300;
      line-height: 21px;
      white-space: pre-line;
    }
  }
}
