.pageWrapper {
    padding: 66px 0 46px 0;
    background-color: var(--businness-background);
}  

.pageList {
    padding-left: 310px;
    background-image: url("/assets/images/business_capitalLoanPage_heroBlock.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 35%;

    .heroItem {
        max-width: 610px;
      }
  
      .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 35px;
      }
    }
  
    .heroDescription {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 35px;
  
      li {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        list-style-type: none;
        padding-left: 26px;
        background: url(/assets/images/check2.svg) no-repeat left center;
        margin-bottom: 8px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      p {
        margin-bottom: 30px;
      }
  
      .CheckText {
        font-weight: 300;
        font-size: 16px;
      }
    }
  // ----- Media queries -----
@media (max-width: 1400px) {
  .pageWrapper {
     
     .pageList {
        padding-left: 280px;
        background-position: calc(100% - 50px) bottom;
        background-size: 25%;
     }
  }
}

@media (max-width: 1250px) {
  .pageWrapper {
     
     .pageList {
        padding-left: 50px;
        background-position: calc(100% - 40px) bottom;
     }
  }
}

@media (max-width: 974px) {
  .pageWrapper {
     
     .pageList {
        padding-left: 40px;
        background-position: calc(100% - 20px) bottom;
        background-size: 200px;
     }
  }
}

@media (max-width: 768px) {
  .pageWrapper {
     padding: 36px 36px 36px 0;
     
     .pageList {
        padding-left: 40px;
        background-image: none;
     }
  }
}