.consumerLoanPageWrapper {
  padding: 66px 0 46px 0;
  background-color: var(--light-creame-background);

  .consumerLoanPageList {
    padding-left: 312px;
    background-image: url("/assets/images/consumerLoanPage_heroBlock.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 110px) bottom;

    .consumerLoanHeroItem {
      max-width: 600px;
    }

    .consumerLoanTitle {
      font-size: 30px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }

  .consumerLoanPageDescription {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;

    li {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      list-style-type: none;
      padding-left: 26px;
      background: url(/assets/images/check2.svg) no-repeat left center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 30px;
    }

    .CheckText {
      font-weight: 300;
      font-size: 16px;
    }
  }
}

.innerNavigationSection {
  padding: 44px 0 34px 0;
  position: sticky;
  top: 100px;
  background-color: var(--main-background);
  z-index: 8;

  .innerNavigationLinkList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .innerNavLink {
    font-family: "Lexend";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &.change-language-link {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.benefitsSection {
  padding: 60px 0 64px 0;

  .benefitsWrapper {
    max-width: 750px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  .benefitsBlock {
    width: 330px;

    .benefitsTitle {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 34px;
    }

    .benefitsDescription {
      font-size: 17px;
      font-weight: 300;
      line-height: 22px;

      li {
        list-style-position: inside;
        padding-left: 15px;
      }
    }
  }
}

.StepsSection {
  padding: 66px 0 56px 0;

  .StepsWrapper {
    max-width: 765px;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    .stepsHeader {
      font-family: Lexend;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 54px;
    }

    .stepsItem {
      display: flex;
      gap: 60px;
      margin-bottom: 49px;

      li {
        list-style-position: outside;
        margin-left: 20px;
      }

      .stepsNumber {
        background-color: var(--theme-color1);
        color: var(--white-text-color);
        font-size: 23px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 51px;
        height: 51px;
      }

      .stepsText {
        display: flex;
        flex-direction: column;

        .stepsTitle {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 20px;
        }

        p {
          font-size: 17px;
          font-weight: 300;
          line-height: 22px;
        }

        .stepsDescription {
          font-size: 17px;
          font-weight: 300;
          line-height: 21px;
          width: 624px;
        }
      }
    }
  }
}

.clientSuportSection {
  padding: 56px 0 22px 0;

  .clientSuportWrapper {
    max-width: 890px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

    .clientSuportHeader {
      font-size: 25px;
      font-weight: 700;
      line-height: 31px;
      text-align: center;
      margin-bottom: 60px;
    }

    .clientSuportDescription {
      font-size: 17px;
      font-weight: 300;
      line-height: 21px;
      text-align: center;
    }
  }
}

.faqSection {
  padding: 58px 0 108px 0;

  .faqWrapper {
    max-width: 1060px;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    .faqHeader {
      font-size: 25px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 56px;
      text-align: center;
    }

    .faqList {
      padding: 71px 105px 70px 105px;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
      background-color: #f9f8f7;
    }
  }
}
