.formTitleBlock {
   max-width: 1060px;
   margin: 0 auto;
   padding: 70px 15px 70px 15px;
   box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
   background-color: #F9F8F7;
   display: flex;
   flex-direction: column;
   align-items: center;

   h3 {
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      color: var(--main-text-color);
      text-align: center;
      margin-bottom: 60px;
   }

   p {
      max-width: 664px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: var(--black-text-color);
      text-align: center;
      margin-bottom: 60px;
   }
}
.formInputBlock {
   width: 468px;
   display: flex;
   flex-direction: column;

   input {
      border: none;
      border-bottom: 1px solid #C6C4C7;
      background-color: transparent;
      margin-bottom: 28px;
      padding: 0 15px 9px 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      color: var(--theme-color4);

      &:focus {
         outline: none;
      }

      &:last-child {
         margin-bottom: 60px;
      }
   }

   textarea {
      height: 89px;
      border: none;
      resize: none;
      border-bottom: 1px solid #C6C4C7;
      background-color: transparent;
      margin-bottom: 28px;
      padding: 0 15px 9px 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      color: var(--theme-color4);

      &:focus {
         outline: none;
      }
   }
}
.formBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.formButton {
   width: 194px;
   padding: 9px 0 9px 0;
   display: flex;
   justify-content: center;
   background-color: var(--theme-color4);
   border-radius: 27px;
   color: var(--white-text-color);
   cursor: pointer;
}
// ----- Media queries -----
@media (max-width: 768px) {
   .formInputBlock {
      width: 300px;
   }
}
