.depositPageWrapper {
   padding: 66px 0 46px 0;
   background-color: var(--ligh-grey-background);

   .depositPageList {
      padding-left: 312px;

      .depositHeroItem {
         max-width: 596px;
      }

      .depositTitle {
         font-size: 30px;
         font-weight: 700;
         line-height: 38px;
         margin-bottom: 35px;
      }
   }

   .depositPageDescription {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 35px;

      li {
         font-weight: 300;
         list-style-type: none;
         padding-left: 26px;
         background: url(/assets/images/check2.svg) no-repeat left center;
         margin-bottom: 8px;

         &:last-child {
            margin-bottom: 0;
         }
      }

      p {
         margin-bottom: 30px;
      }

      .CheckText {
         font-weight: 300;
         font-size: 16px;
      }
   }

   .actionButtonBlock {
      width: 251px;
      height: 42px;
      background: var(--theme-color2);
      border-radius: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--white-text-color);
      text-decoration: none;
   }
}

.innerNavigationBlock {
   padding: 30px 0 45px 0;
}

.innerNavigationSection {
   padding: 44px 0 34px 0;
   position: sticky;
   top: 100px;
   background-color: var(--main-background);
   z-index: 8;

   .innerNavigationLinkList {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
   }
 
   .innerNavLink {
     font-family: 'Lexend';
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: var(--main-text-color);
     text-decoration: none;
     margin-right: 30px;
 
     &:last-child {
       margin-right: 0;
     }
 
     &.change-language-link {
       text-transform: uppercase;
       font-weight: 600;
     }
   }
 }

 .depositBenefitsSection {
   padding: 100px 0 54px 0;

   .depositBenefitsWrapper {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 15px 0 15px;
      display: flex;
      gap: 64px;
   }

   .depositBenefitsBlock {
      max-width: 274px;

      h2 {
         font-size: 20px;
         font-weight: 700;
         line-height: 25px;
         margin-bottom: 34px;
      }

      p {
         font-size: 17px;
         font-weight: 300;
         line-height: 22px;
      }
   }
 }

 .calculatorSection {
   padding: 50px 0 64px 0;
   .calculatorWrapper {
      width: 790px;
      margin: 0 auto;
      padding: 0 15px 0 15px;
      display: flex;
      gap: 46px;
      margin-bottom: 35px;
   }

   h2 {
      text-align: center;
      margin-bottom: 35px;
   }

   .calculatorBlock {
      width: 416px;
      border-right: solid 1px var(--theme-color4);
      padding-right: 49px;
      padding-top: 42px;
   }
   
   .resultBlockItem {
      width: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .left {
         font-size-adjust: 16px;
         font-weight: 300;
         line-height: 20px;
         color: var(--black-text-color);
         text-align: center;
      }
      .right {
         font-size: 30px;
         font-weight: 700;
         line-height: 38px;
         color: var(--black-text-color);
         text-align: center;
      }
   }
   
   .calculatorLine {
      display: flex;
      gap: 40px;
      margin-bottom: 15px;
   }

   .label {
      width: 132px;
      display: flex;
      align-items: center;
      justify-content: right;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      color: var(--theme-color4);
   }

   input {
      width: 198px;
      height: 30px;
      background: url(/assets/images/euro.svg) no-repeat right center;
      border: none;
      border-bottom: 1px solid #939096;
      color: var(--black-text-color);
      padding-right: 20px;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;

      &:focus {
         outline: none;
      }

      &::placeholder {
         color: var(--black-text-color);
      }
   }

   .select {
      width: 198px;
      background: url(/assets/images/men.svg) no-repeat right center;
      
         &::after {
            content: "";
            display: block;
            position: relative;
            height: 1px;
            background-color: var(--theme-color4);
            margin-top: 6px;
         }

      select {
         border: none;
         background: transparent;
         cursor: pointer;
         padding-right: 20px;
         font-size: 16px;
         font-weight: 300;
         line-height: 20px;

         &:focus {
            outline: none;
         }
      }
   }

   h3 {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 8px;
   }

   .resultBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
   }

   .resultBlockTitle {
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 30px;
   }

   .borderCorner {
      width: 15px;
      height: 15px;
      z-index: 1;
      border-top: solid 1px var(--theme-color4);
      border-right: solid 1px var(--theme-color4);
      background-color: var(--main-background);
      transform:
         rotate(45deg) translate(319px, -258px);
   }
   .depositSectionButton {
      margin: 0 auto;
      padding: 0 15px 0 15px;
      display: flex;
      justify-content: center;
   }
}

.ratesTableSection {
   padding: 64px 0 58px 0;

   .ratesTableWrapper {
      width: 870px;
      padding: 0 15px 0 15px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
   }

   h3 {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      color: var(--main-text-color);
      margin-bottom: 56px;
   }

   p {
      font-size: 17px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 56px;
      text-align: center;
   }

   .tableHeading {
      display: flex;
      border-top: solid 1px var(--table-border-color);
      padding: 15px 0 15px 0;
   }

   .tableHeadingCell {
      font-weight: 600;

   }

   .tableDataCell {
      font-weight: 300;
   }
   .column1 {
      width: 228px;
   }
   .column2 {
      width: 335px;
   }
   .column3 {
      width: 227px;
   }
   .tableDataLine {
      display: flex;
      border-top: solid 1px var(--table-border-color);
      padding: 15px 0 15px 0;

      &:last-child {
         border-bottom: solid 1px var(--table-border-color);
      }
   }
}

.depositsStepsSection {
   padding: 66px 0 56px 0;
 
   .depositsStepsWrapper {
     max-width: 765px;
     padding: 0 15px 0 15px;
     margin: 0 auto;
 
     .stepsHeader {
       font-family: Lexend;
       font-size: 25px;
       font-weight: 700;
       text-align: center;
       margin-bottom: 54px;
     }
 
     .stepsItem {
       display: flex;
       gap: 60px;
       margin-bottom: 49px;
 
       .stepsNumber {
         background-color: var(--theme-color1);
         color: var(--white-text-color);
         font-size: 23px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 51px;
         height: 51px;
       }
 
       .stepsText {
         display: flex;
         flex-direction: column;
 
         .stepsTitle {
           font-weight: 700;
           font-size: 20px;
           line-height: 25px;
           margin-bottom: 20px;
         }
 
         .stepsDescription {
           font-size: 17px;
           font-weight: 300;
           line-height: 21px;
           width: 624px;
         }
       }
     }
   }
 }

 .clientSuportSection {
   padding: 56px 0 22px 0;
 
   .clientSuportWrapper {
     max-width: 890px;
     margin: 0 auto;
     padding: 0 15px 0 15px;
 
     .clientSuportHeader {
       font-size: 25px;
       font-weight: 700;
       line-height: 31px;
       text-align: center;
       margin-bottom: 60px;
     }
 
     .clientSuportDescription {
       font-size: 17px;
       font-weight: 300;
       line-height: 21px;
       text-align: center;
     }
   }
 }
 
.faqSection {
   padding: 58px 0 108px 0;
 
   .faqWrapper {
     max-width: 1060px;
     padding: 0 15px 0 15px;
     margin: 0 auto;
 
     .faqHeader {
       font-size: 25px;
       font-weight: 700;
       line-height: 31px;
       margin-bottom: 56px;
       text-align: center;
     }
 
     .faqList {
       padding: 71px 105px 70px 105px;
       box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
       background-color: #F9F8F7;
     }
   }
}