.pageWrapper {
  padding: 66px 0 46px 0;
  background-color: var(--light-creame-background);

  .pageList {
    padding-left: 312px;
    background-image: url("/assets/images/equityLoanPage_heroBlock.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 70px) bottom;

    .heroItem {
      max-width: 700px;
    }

    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }

  .heroDescription {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;

    li {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      list-style-type: none;
      padding-left: 26px;
      background: url(/assets/images/check2.svg) no-repeat left center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 30px;
    }

    .CheckText {
      font-weight: 300;
      font-size: 16px;
    }
  }
}

.innerNavigationSection {
  padding: 44px 0 34px 0;
  position: sticky;
  top: 100px;
  background-color: var(--main-background);
  z-index: 8;

  .innerNavigationLinkList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .innerNavLink {
    font-family: "Lexend";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &.change-language-link {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.benefitsSection {
  padding: 80px 0 64px 0;

  .benefitsWrapper {
    max-width: 750px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  .benefitsBlock {
    max-width: 330px;

    .benefitsTitle {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 34px;
    }

    .benefitsDescription {
      font-size: 17px;
      font-weight: 300;
      line-height: 22px;

      li {
        list-style-position: inside;
        padding-left: 15px;
      }
    }
  }
}

.StepsSection {
  padding: 66px 0 56px 0;

  .StepsWrapper {
    max-width: 765px;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    .stepsHeader {
      font-family: Lexend;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 54px;
    }

    .stepsItem {
      display: flex;
      gap: 60px;
      margin-bottom: 49px;

      li {
        list-style-position: outside;
        margin-left: 20px;
      }

      .stepsNumber {
        background-color: var(--theme-color1);
        color: var(--white-text-color);
        font-size: 23px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 51px;
        height: 51px;
      }

      .stepsText {
        display: flex;
        flex-direction: column;

        .stepsTitle {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 20px;
        }

        p {
          font-size: 17px;
          font-weight: 300;
          line-height: 22px;
        }

        .stepsDescription {
          font-size: 17px;
          font-weight: 300;
          line-height: 21px;
          max-width: 624px;
        }
      }
    }
  }
}

.clientSuportSection {
  padding: 56px 0 22px 0;

  .clientSuportWrapper {
    max-width: 890px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

    .clientSuportHeader {
      font-size: 25px;
      font-weight: 700;
      line-height: 31px;
      text-align: center;
      margin-bottom: 60px;
    }

    .clientSuportDescription {
      font-size: 17px;
      font-weight: 300;
      line-height: 21px;
      text-align: center;
    }
  }
}

.faqSection {
  padding: 58px 0 108px 0;

  .faqWrapper {
    max-width: 1060px;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    .faqHeader {
      font-size: 25px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 56px;
      text-align: center;
    }

    .faqList {
      padding: 71px 105px 70px 105px;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
      background-color: #f9f8f7;
    }
  }
}
// ----- Media queries -----
@media (max-width: 1390px) {
  .pageWrapper {
     
     .pageList {
        padding-left: 280px;
        background-position: calc(100% - 50px) bottom;
        background-size: 350px;
      }
  }
}

@media (max-width: 1250px) {
  .pageWrapper {
     
     .pageList {
        padding-left: 50px;
        background-position: calc(100% - 40px) bottom;
     }
  }
}

@media (max-width: 974px) {
  .pageWrapper {
     
     .pageList {
        padding-left: 40px;
        background-position: calc(100% - 20px) bottom;
        background-size: 200px;
     }
  }
}

@media (max-width: 780px) {
  .StepsSection {
    padding: 36px 0 10px 0;

    .StepsWrapper {
       padding: 0 25px 0 15px;

       .stepsItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;

          .stepsNumber {
             width: 70px;
             height: 70px;
             flex: none;
          }

          .stepsText {
             text-align: center;

             .stepsDescription {
                text-align: justify;
                font-size: 14px;
             }

             p {
              text-align: left;
           }
          }
       }
    }
 }

 .clientSuportSection {
  padding: 20px 0 15px 0;
}

.faqSection {
  padding: 38px 0 50px 0;

  .faqWrapper {
     .faqList {
        padding: 30px 50px 30px 50px;
      }
    }
  } 
}

@media (max-width: 768px) {
  .pageWrapper {
     padding: 36px 36px 36px 0;

     .pageList {
        padding-left: 40px;
        background-image: none;
     }
  }

  .innerNavigationSection {

    .innerNavigationLinkList {
       display: flex;
       justify-content: flex-start;
       padding: 0 30px;
       gap: 10px;
    }
 }

 .benefitsSection {

  .benefitsWrapper {

    .benefitsBlock {
       max-width: 490px;
       text-align: center;

       .benefitsDescription {
        text-align: justify;
       }
    }
  }
}
}

@media (max-width: 686px) {
  .innerNavigationSection {

     .innerNavigationLinkList {
        display: flex;
        justify-content: flex-start;
        padding-left: 80px;
        gap: 10px;
     }
  }
}