.container {
   max-width: 890px;
   margin: 0 auto;
}

.esgHeroPage {
   padding: 100px 0 44px 0;
   
   .esgHeroBlock {
      display: flex;
      gap: 70px;
   }
   
   .egsHeroTitle {
         font-size: 50px;
         font-weight: 700;
         line-height: 62px;
         text-align: center;
         margin-bottom: 90px;
   }
   
   .esgHeroMission {
      width: 280px;
   }
   
   .missionTitle {
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 20px;
   }
   
   .missionDescription {
      font-size: 25px;
      font-weight: 300;
      line-height: 32px;
   }
   
   .esgHeroVision {
      width: 474px;
   }
   
   .visionTitle {
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 20px;
   }
   
   .visionDescription {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
   }
}

.innerNavigationSection {
   padding: 44px 0 54px 0;
   position: sticky;
   top: 100px;
   background-color: var(--main-background);
   z-index: 11;

   .innerNavigationLinkList {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
   }
 
   .innerNavLink {
     font-family: 'Lexend';
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: var(--main-text-color);
     text-decoration: none;
     margin-right: 30px;
 
     &:last-child {
       margin-right: 0;
     }
 
     &.change-language-link {
       text-transform: uppercase;
       font-weight: 600;
     }
   }
 }

 .enviromentalProtectionSection {
   padding: 54px 0 54px 0;

   .enviromentalProtectionBlock {
      display: flex;
      gap: 98px;
      margin-bottom: 88px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   .enviromentalProtectionImg {
      width: 326px;
      height: 295px;
      background-color: var(--theme-color1);
   }

   .enviromentalProtectionArticle {
      width: 376px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      h3 {
         font-size: 25px;
         font-weight: 700;
         line-height: 32px;
      }

      p {
         font-size: 16px;
         font-weight: 300;
         line-height: 20px;
      }
   }
 }

 .annualReportsSection {
   padding: 64px 0 70px 0;

   .annualReportsWrapper {
      max-width: 770px;
      padding: 0 15px 0 15px;
      margin: 0 auto;
   
      h3 {
         font-size: 25px;
         font-weight: 700;
         line-height: 32px;
         text-align: center;
         margin-bottom: 30px;
      }
   
      ul {
         display: flex;
         border-bottom: 1px solid #ACACAC;
         margin-bottom: 40px;
   
         li {
            width: 324px;
            list-style: none;
            padding-left: 35px;
            margin-bottom: 17px;
            cursor: pointer;
   
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   
      .linkStyle {
         font-size: 16px;
         font-weight: 400;
         line-height: 20px;
         color: var(--light-color);
         text-decoration: none;
      }
   
      .annualLintsReport {
         margin: 0 auto;
         max-width: 380px;
         height: 64px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: rgba(255, 255, 255, 0.6);
         box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
      }

      .reportsBlock {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 20px;
      }

      .annualLintsReportImg {
         width: 24px;
         height: 32px;
         background: url(/assets/images/Pdficon.svg);
      }
    }
 }
 
