.container {
   max-width: 1130px;
   margin: 0 auto;
}

.esgHeroPage {
   padding: 66px 0 78px 0;
   background-color: var(--theme-color5);
   background-image: url("/assets/images/homePage_heroBlock.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: calc(100% - 90px) 0;  

   .esgPageList {
     padding-left: 250px;
   }
 
   .Description {
     font-weight: 400;
     font-size: 18px;
     color: #000000;
     white-space: pre-line;
   }

   .esgHeroItem {
      width: 474px;
    }

    .esgTitle {
      font-size: 30px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 35px;
     }
 }

.innerNavigationSection {
   padding: 44px 0 24px 0;
   position: sticky;
   top: 100px;
   background-color: var(--main-background);
   z-index: 8;

   .innerNavigationLinkList {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
   }
 
   .innerNavLink {
     font-family: 'Lexend';
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: var(--main-text-color);
     text-decoration: none;
     margin-right: 30px;
 
     &:last-child {
       margin-right: 0;
     }
 
     &.change-language-link {
       text-transform: uppercase;
       font-weight: 600;
     }
   }
 }

 .enviromentalProtectionSection {
   padding: 100px 0 54px 0;

   .enviromentalProtectionBlock {
      display: flex;
      gap: 120px;
      margin-bottom: 48px;
      padding-top: 40px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   .enviromentalProtectionImg {
      min-width: 429px;
      height: 429px;
   }
   .imgMargin {
      margin-top: 25px;
   }

   .enviromentalProtectionArticle {
      max-width: 580px;
      white-space: pre-line;

      h3 {
         font-size: 50px;
         font-weight: 700;
         line-height: 62px;
         margin-bottom: 34px;
      }

      p {
         font-size: 19px;
         font-weight: 300;
         line-height: 28px;
         margin-bottom: 54px;
      }
   }
 }

 .annualReportsSection {
   padding: 64px 0 70px 0;

   .annualReportsWrapper {
      max-width: 770px;
      padding: 0 15px 0 15px;
      margin: 0 auto;
   
      h3 {
         font-size: 25px;
         font-weight: 700;
         line-height: 32px;
         text-align: center;
         margin-bottom: 30px;
      }
   
      ul {
         display: flex;
         border-bottom: 1px solid #ACACAC;
         margin-bottom: 40px;
   
         li {
            width: 324px;
            list-style: none;
            padding-left: 35px;
            margin-bottom: 17px;
            cursor: pointer;
   
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   
      .linkStyle {
         font-size: 16px;
         font-weight: 400;
         line-height: 20px;
         color: var(--light-color);
         text-decoration: none;
      }
   
      .annualLintsReport {
         margin: 0 auto;
         max-width: 380px;
         height: 64px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: rgba(255, 255, 255, 0.6);
         box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
      }

      .reportsBlock {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 20px;
      }

      .annualLintsReportImg {
         width: 24px;
         height: 32px;
         background: url(/assets/images/Pdficon.svg);
      }
    }
 }
 
