
:root {
  --main-text-color: #0D222E;
  --secondary-text-color: #08173E;
  --light-color: #535353;
  --black-text-color: #000000;
  --white-text-color: #ffffff;


  --creame-background: #D7D7D7;
  --white-background: #ffffff;

  --theme-color1: #08173E;
  --theme-color2: #12D8E4
  --theme-color3: rgba(217, 217, 217, 0.49);

}

body {
  margin: 0;
  padding: 0;
  * {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}


.main-layout {
  background-color: rgba(0, 0, 0, 0.21);

  header, main, footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}

header {
  padding: 40px 0 37px 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .logo-block {
    margin-right: 90px;
    height: 46px;
  }
  
  
  .bussiness-type-block {
    margin-right: 48px;
  
    .header-bussinness-type-nav-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--black-text-color);
      text-transform: uppercase;
      text-decoration: none;
    
      &:first-of-type {
        margin-right: 30px;
      }
    }
  }
  
  
  .header-navigation {
    margin-right: 48px;
  
    .header-nav-link {
      font-family: 'Lexend';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-text-color);
      text-decoration: none;
      margin-right: 30px;
      
      &:last-child {
        margin-right: 0;
      }
    
      &.change-language-link {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
  
  
  .header-action-buttons-block {
    display: flex;
    gap: 16px;
  
    .header-action-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 154px;
      height: 42px;
      background: #0D222E;
      border-radius: 5px;
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

footer {
  display: flex;
  gap: 102px;
  padding: 60px 0 0 120px;
  min-height: 459px;
  background-color: var(--theme-color1);

  .footer-navigation-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 144px;

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }

    .footer-navigation-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      text-decoration: none;
    }

    .social-links-block {
      display: flex;
      gap: 18px;
    }
  }
}


.container {
  max-width: 1130px;
  margin: 0 auto;
}

.light-green-action-button {
  width: 194px;
  height: 42px;
  background: #12D8E4;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.slick-active > .index-page-hero-slider-dot {
  background: #B5B5B5 !important;
}