:root {
  --main-text-color: #0d222e;
  --light-color: #535353;
  --black-text-color: #000000;
  --white-text-color: #ffffff;

  --main-background: #f4f4f4;
  --creame-background: #d7d7d7;
  --white-background: #ffffff;
  --ligh-grey-background: rgba(217, 217, 217, 0.49);
  --light-creame-background: rgba(233, 179, 23, 0.1);
  --businness-background: rgba(194, 205, 225, 0.3);
  --table-border-color: #acacac;

  --theme-color1: #08173e;
  --theme-color2: #12d8e4;
  --theme-color3: rgba(217, 217, 217, 0.49);
  --theme-color4: #939096;
  --theme-color5: #eeeee9;
}
html {
  scroll-padding: 150px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-background);

  * {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.main-layout {
  position: relative;

  header,
  main,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}

header {
  padding: 40px 0 37px 0;
  background: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo-block {
    margin-right: 90px;
    height: 46px;
  }

  .bussiness-type-block {
    margin-right: 48px;

    .header-bussinness-type-nav-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--black-text-color);
      text-transform: uppercase;
      text-decoration: none;

      &:first-of-type {
        margin-right: 30px;
      }
    }
  }

  .header-navigation {
    margin-right: 48px;
    display: flex;
    align-items: center;
    gap: 30px;

    .navigation-parent-link {
      position: relative;
      height: 56px;
      display: flex;
      align-items: center;
      cursor: default;
    }

    .navigation-parent-link-credit {
      position: relative;
      height: 56px;
      display: flex;
      align-items: center;
      cursor: default;
    }

    .header-nav-link {
      font-family: "Lexend";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-text-color);
      text-decoration: none;

      &:last-child {
        margin-right: 0;
      }

      &.change-language-link {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  .menubar {
    position: relative;

    .dropDownMenu {
      width: 270px;
      background-color: #f4f4f4;
      padding: 10px;
      box-shadow: 3px 10px 5px -4px rgba(0, 0, 0, 0.75);
      opacity: 1;
      position: absolute;
      top: 40px;
      left: -10px;
      z-index: 9;
      transition: 250ms ease-in-out;

      .toggleSubMenu {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        a:hover {
          color: var(--theme-color2);
        }
      }
    }
  }

  .header-action-buttons-block {
    display: flex;
    gap: 16px;

    .header-action-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 154px;
      height: 42px;
      background: #0d222e;
      border-radius: 5px;
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .change-language-link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 76px 0 120px;
  min-height: 459px;
  background-color: var(--theme-color1);

  .footer-navigation-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 194px;

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    .footer-navigation-link {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      text-decoration: none;
    }

    .social-links-block {
      display: flex;
      gap: 18px;
    }
  }
}

// ----- Media queries -----
@media (max-width: 5000px) {
  .burger-menu-toggle {
    display: none;
  }
}

@media (max-width: 1250px) {
  .main-layout  {

    header {
      padding: 40px 15px 37px 15px;
    }
  
    .logo-block {
      margin-right: 50px;
      height: 46px;
    }
  
    .bussiness-type-block {
      display: flex;
      flex-direction: column;
    }
    
    .header-action-buttons-block {
      display: flex;
      flex-direction: column;

      .header-action-button {
        height: 30px;
      }
    }
    .container {
      max-width: 930px;
      margin: 0 auto;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 20px 0 20px;

    .footer-img {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .main-layout {
   header {
    display: flex;
    justify-content: space-between;
   }

    .logo-block {
      margin-right: 30px;
    }

    .bussiness-type-block {
      display: none;
    }

    .menubar {
      display: none;
    }

    .header-action-buttons-block {
      display: none;
    }

    .bgm {
      border: solid 1px red;
      width: 30px;
      height: 30px;
    }

    .burger-menu-toggle {
    min-width: 30px;
    min-height: 25px;
    display: block;
    position: fixed;
    top: 58px;
    right: 40px;
    z-index: 12;
    input {
      display: none;
    }

    label {
      cursor: pointer;
    }

    span {
      display: block;
      width: 30px;
      height: 3px;
      margin-bottom: 5px;
      background-color: #333;
      transition: transform 0.3s ease-in-out;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: var(--white-background);
      position: fixed;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      overflow: hidden;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }

    ul li {
      padding: 20px;
    }

    input:checked ~ ul {
      transform: translateX(0%);

      & ~ span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      & ~ span:nth-child(2) {
        opacity: 0;
      }

      & ~ span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  .container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  }
}

@media (max-width: 974px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 15px 30px 15px;

    .footer-navigation-section {
      width: 226px;
      gap: 8px;
      display: flex;
      h4 {
        margin-bottom: 8px;
      }
    }
    .footer-img {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }

  .actionButtonBlock {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
  }
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.active-tnc-tab {
  text-decoration: underline;
}

.active-year-tab {
  text-decoration: underline;
}

.light-green-action-button {
  width: 194px;
  height: 42px;
  background: #12d8e4;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  &.long {
    width: 252px;
  }
}

.slick-active > .index-page-hero-slider-dot {
  background: #b5b5b5 !important;
}

.slick-dots {
  bottom: -56px !important;
}

//  Accordion Component
.accordionWrapper {
  border-top: 1px solid #acacac;

  .ac {
    padding: 16px 0;
    border-bottom: 1px solid #acacac;
  }

  .acHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .accHeaderTitle {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      cursor: pointer;
      flex: 1;
    }

    .accOpenBtn {
      height: 20px;
      width: 25px;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }

  .acPanel {
    height: 1px;
    visibility: hidden;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    transition-duration: 150ms;

    &.opened {
      margin-top: 40px;
      height: auto;
      transition-duration: 500ms;
      visibility: visible;
    }
  }

  &.muiltiLevel {
    .acHeader .accHeaderTitle {
      font-size: 18px;
      text-transform: uppercase;
    }

    & > .ac > .acPanel > .ac {
      padding: 16px 0 16px 42px;

      &:last-child {
        border-bottom: none;
      }

      .acPanel {
        padding-right: 30px;
      }

      .acHeader .accHeaderTitle {
        font-size: 16px;
        text-transform: unset;
      }
    }
  }
}

.page-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  color: #0d222e;
  margin-bottom: 60px;
}

