// INDEX PAGE
.beneficialArticles {
  background: #F4F4F4;
  padding: 154px 0 164px 0;
}

.beneficialArticle, .beneficialArticleMirror {
  display: flex;
  gap: 120px;
  margin-bottom: 158px;
}

.beneficialArticle:last-child {
  margin-bottom: 0;
}

.beneficialArticleMirror {
  .imageBlock {
    order: 1;
  }
}

.imageBlock {
  max-width: 429px;
  max-height: 429px;
  color: var(--main-text-color);
}

.articleBlock {
  h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 34px;
  }

  p {
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 54px;
  }
}

.bulletPoints {
  padding: 120px 0;
  background: var(--theme-color5) url('/assets/images/homePage_bulletPoints.svg') no-repeat calc(100% - 120px) 45px;

  h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: var(--main-text-color);
    max-width: 390px; 
    margin-bottom: 40px;
  }

  ul {
    list-style-type: none;

    li {
      padding: 0 0 0 40px;
      background: url('/assets/images/check.svg') no-repeat 0 0;
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-text-color);

      &::marker {
        position: relative;
        top: 2px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.newsSection {
  background: #F4F4F4;
  padding: 112px 0;
  color: var(--main-text-color);

  h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #0D222E;
    margin-bottom: 80px; 
  }
}
//------ Media queries --------------------------------
@media (max-width: 1460px) {
  .heroblock {
    max-width: 1200px;
    margin: 0 auto;
  }
  .bulletPoints {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--theme-color5) url('/assets/images/homePage_bulletPoints.svg') no-repeat calc(100% - 36px) 45px;
  }
}

@media (max-width: 1250px) {
  .heroblock {
    max-width: 1000px;
    margin: 0 auto;
  }

  .beneficialArticle, .beneficialArticleMirror {
    margin-bottom: 90px;
    gap: 60px;
  }

  .articleBlock {
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 34px;
    }
    p {
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 54px;
    }
  }

  .bulletPoints {
    max-width: 1000px;
    margin: 0 auto;
    background: var(--theme-color5) url('/assets/images/homePage_bulletPoints.svg') no-repeat calc(100% - 36px) bottom;
    background-size: 100%;
  }
}

@media (max-width: 1024px) {
  .heroblock {
    max-width: 900px;
    padding: 0 15px;
  }

  .articleBlock {
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 14px;
    }
  }

  .bulletPoints {
    max-width: 850px;
    margin: 0 auto;
    background: var(--theme-color5) url('/assets/images/homePage_bulletPoints.svg') no-repeat calc(100% - -40px) bottom;
    background-size: 100%;

    h2 {
      font-size: 40px;
      align-items: center;
    }

    li {
      font-size: 14px;
    }
  }
}  

@media (max-width: 768px) {
  .beneficialArticles {
    padding-bottom: 80px;
  }
  .beneficialArticle, .beneficialArticleMirror {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-bottom: 40px;
  }
  .imageBlock {
    order: 1;
    display: flex;

    img {
      max-width: 220px;
      max-height: 220px;
    }
  }
 
  .articleBlock {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 30px;
      text-align: center;
    }

    p {
      font-size: 12px;
      text-align: justify;
      margin-bottom: 25px;
    }
  }

  .bulletPoints {
    display: flex;
    justify-content: center;
    max-width: 600px;
    padding: 20px 0 40px 0;

    margin: 0  auto;
    background: var(--theme-color5) url('/assets/images/homePage_bulletPoints.svg') no-repeat calc(100% - -40px) bottom;
    background-size: 60%;

    h2 {
      max-width: 530px;
      display: block;
      font-size: 35px;
      text-align: center;
    }

    li {
      font-size: 14px;
    }
  }

  .newsSection {
    padding-top: 60px;
    padding-bottom: 45px;
    
    h2 {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 600px) {
  .beneficialArticles {
    padding: 80px 0;
  }
  .bulletPoints {
    max-width: 450px;
    margin: 0 auto;
    padding: 30px 0 40px 0;
  }

  .newsSection {
    padding-top: 60px;
    padding-bottom: 45px;
    
    h2 {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 450px) {
  .bulletPoints {
    max-width: 390px;
    padding: 30px 0 40px 0;
  }
}
