.indexPageSlider {
  .slickSlide {
    height: 580px;
    background-color: var(--theme-color5);
    background-image: url("/assets/images/homePage_heroBlock.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(100% - 90px) 0;
  }

  .slideContent {
    padding-top: 80px;

    h1 {
      font-weight: 800;
      font-size: 60px;
      line-height: 72px;
      color: var(--main-text-color);
      margin-bottom: 44px;
      max-width: 680px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-text-color);  
      max-width: 470px;
      margin-bottom: 44px;
    }
  }
}