.newsBlock {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.newsItem {
  padding: 22px;

  h3 { 
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 60px;   
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: var(--main-text-color);

  }
}

//------ Media queries --------------------------------
@media (max-width: 1024px) {
  .newsBlock {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .newsBlock {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .newsItem {
   
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      text-align: justify;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 600px) {
  .newsBlock {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .newsItem {
    h3 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }
  }
}