.indexPageSlider {
  .slickSlide {
    height: 580px;
    background-color: var(--secondary-text-color);
    background-image: url("/assets/images/sliderBgShape.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 90px) 0;
  }

  .slideContent {
    padding-top: 80px;

    h1 {
      font-weight: 800;
      font-size: 60px;
      line-height: 72px;
      color: #FFFFFF;
      margin-bottom: 44px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;  
      max-width: 470px;
      margin-bottom: 44px;
    }
  }
}