.moneyLoundryingSection {
  padding: 100px 0 150px 0;

  .moneyLoundryingWrapper {
      max-width: 920px;
      margin: 0 auto;
      padding: 0 15px 0 15px;

   h3 {
      font-size: 50px;
      font-weight: 700;
      line-height: 62px;
      text-align: center;
      margin-bottom: 80px;
   }

   p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      white-space:pre-line;
   }
   }
}
