.moneyLoundryingSection {
   padding: 100px 0 500px 0;

   .moneyLoundryingWrapper {
      max-width: 920px;
      margin: 0 auto;
      padding: 0 15px 0 15px;

      h3 {
         font-size: 50px;
         font-weight: 700;
         line-height: 62px;
         text-align: center;
         margin-bottom: 32px;
      }
   }
   .innerNavigationLinkList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .innerNavLink {
         font-family: 'Lexend';
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         color: var(--main-text-color);
         text-decoration: none;
         margin-right: 30px;

         &:last-child {
            margin-right: 0;
         }

         &.change-language-link {
            text-transform: uppercase;
            font-weight: 600;
         }
      }
   }
}