.newsListBlock {
  padding: 92px 0 124px 0;

  .newsListWrapper {
    max-width: 820px;
    margin: 0 auto;
  }

  .yearlyLinksBlock {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 56px;
  }

  .yearlyLink {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #0D222E;
      text-decoration: none;
      display: block;
      width: 45px;
      transition: all 0.25s ease-out;
      
      &.active {
        text-decoration-line: underline !important;
        font-weight: 700 !important;
        transition: all 0.25s ease-out;
        &:hover {
          cursor: default;
        }
      }

      &:hover {
        text-decoration-line: underline;
        font-weight: 700;
        transition: all 0.25s ease-out;
        cursor: pointer;
      }
    }
    
    .newsList {
      .singleNewsPreviewBlock {
        margin-bottom: 60px;
      }

      .newsDate {
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 16px;
      }

      .newsTitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;    
        margin-bottom: 16px;
      }

      .newsPreviewText {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        white-space: pre-line;
        margin-bottom: 16px;
      }

      .readMoreLink {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #000000;
      }
    }
}
// ----- Media queries -----
@media (max-width: 880px) {
  .newsListBlock {
    padding: 32px 0 40px 0;
    .newsListWrapper {
      .yearlyLinksBlock {
        gap: 20px;
      }
    }
    .newsList {
      padding: 0 15px 0 15px;
      .newsTitle {
        text-align: center;
      }
      .newsPreviewText {
        text-align: justify;
      }
    }
  }
  
}
  