.partnershipSection {
   padding: 100px 0 70px 0;
   background-color: var(--theme-color5);
   background-image: url("/assets/images/partnership_heroBlockBackground.svg");
   background-repeat: no-repeat;
   background-position: right bottom;

   .partnershipWrapper {
      max-width: 920px;
      margin: 0 auto;
      padding: 0 15px 0 15px;
      
      h1 {
         font-size: 50px;
         font-weight: 700;
         line-height: 37px;
         margin-bottom: 34px;
      }

      p{
         max-width: 520px;
         font-size: 25px;
         font-weight: 400;
         line-height: 28px;
      }
   }
}

.articleSection {
   padding: 45px 0 250px 0;

   .articleBlock {
      max-width: 920px;
      padding: 15px 0 15px 0;
      margin: 0 auto;
   }
   
   p {
      font-size: 17px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
      margin-bottom: 42px;

      &:last-child {
         margin-bottom: 0;
       }
   }
}
  // ----- Media queries -----
  @media (max-width: 1400px) {
   .partnershipSection {
      background-position: calc(100% - 50px) bottom;
      background-size: 85%;
      
      .partnershipWrapper {
         padding-left: 100px;
      }
   }
 }
 
 @media (max-width: 1250px) {
   .partnershipSection {
      
      .partnershipWrapper {
         padding-left: 50px;
         background-position: calc(100% - 40px) bottom;
      }
   }
 }
 
 @media (max-width: 974px) {
   .partnershipSection {
      
      .partnershipWrapper {
         padding-left: 40px;
      }
   }

   .articleSection {
      padding: 45px 15px 150px 15px;
      .articleBlock {
         p {
            text-align: justify;
         }
      }
   }
 }
 
 @media (max-width: 768px) {
   .partnershipSection {
      padding: 36px 36px 36px 0;
      background-image: none;
      text-align: center;
      
      .partnershipWrapper {
         padding-left: 40px;
         
      }
   }
 }