.privacyPolicySection {
   padding: 26px 0 180px 0;

   .tprivacyPolicyBlock {
      max-width: 920px;
      margin: 0 auto;
      padding: 15px 0 15px 0;
   }

   h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      line-height: 62px;
      margin-bottom: 80px;
   }

   .privacyPolicyLinks {
      max-width: 710px;
      padding: 0 15px 0 15px;
      margin: 0 auto;

      ul {
         width: 690px;
         height: 300px;
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;

         li {
            width: 323px;
            list-style: none;
            background: url(/assets/images/ArrowRight.svg) no-repeat left center;
            padding-left: 35px;
            margin-bottom: 17px;

            &:last-child {
               margin-bottom: 0;
            }

            .linkStyle {
               font-size: 16px;
               font-weight: 300;
               line-height: 20px;
               color: var(--light-color);
               text-decoration: none;
            }
         }
      }
   }
}
// ----- Media queries -----
@media (max-width: 768px) {
   .privacyPolicySection {
      padding: 26px 0 50px 0;
      .privacyPolicyLinks {
         ul {
            width: 300px;
            margin: 0 auto;
            min-height: 600px;
            display: flex;
            justify-content: center;
         }
      }
   }
 }