//  Security PAGE

.securityPage {
  padding: 92px 0 250px 0;
}

.securityPageWrapper {
  min-height: 400px;
  max-width: 880px;
  margin: 0 auto;
}

.securityPageDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 60px;
}
