.SuportAndComplaintsHeroPage {
   padding: 40px 0 43px 0;

   .SuportAndComplaintsHeroTitle {
      h1 {
         font-size: 50px;
         font-weight: 700;
         line-height: 62px;
         text-align: center;
      }
   }
}

.formSection {
   padding: 43px 15px 52px 15px;
}
.settlementSection {
   padding: 40px 0 52px 0;
   
   .settlementsWrapper {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 15px 0 15px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
   }

   .settlementBlock {
      width: 400px;

      h3 {
         margin-bottom: 34px;
      }

      a {
         text-decoration: none;
         color: var(--main-text-color);

         &:hover {
           text-decoration: underline;
           color: var(--theme-color2);
         }
      }
   }
}
// ----- Media queries -----
@media (max-width: 900px) {
   .settlementsWrapper {
      .settlementBlock {
         p {
            text-align: justify;
         }
      }
   }
 }